.footer{
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: white;
    text-align: center;
}

.flexContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2em;
    color: #999;
    margin-left: 40px;
}

.flexContainer > div{
    background-color: #000000;
    width: 200px;
    text-align: center;
    line-height: 25px;
}

.flexContainer > div > ul{
    list-style-type: none;
    text-align: left;
    color: #999;
    margin-block-start: 0;
}

.flexContainer > div > ul > li{
    padding-right: 1em;
    margin-bottom: 0.5em;
}

.flexContainer p{
    margin: -32px -178px ;
}

.flexContainer > div > ul > li > img{
    height: 35px;
    width: auto;
}