<div class="footer">
    <div class="flexContainer">
        <p>Questions? Contact us</p>
        <div>
            <ul>
                <li>Wishma Sancharaka</li>
                <li>Privacy</li>
                <li>Terms</li>
                <li>Help</li>
                <li>Contact</li>
            </ul>

        </div>
        <div></div>
        <div></div>
        <div>
            <ul>
                <li>Get The Lastest App</li>
                <li><img src="assets/app-store.png" alt=""></li>
                <li><img src="assets/play-store.png" alt=""></li>
            </ul>
        </div>
        <div></div>

    </div>
</div>
