<div class="bodyLogin">
            
        <div class="container">
         <!--main-->
         <main>
             <!--form-->
             <form action="">
                 <h1>Entrar</h1>
                 <div class="form-g">
                     <input type="text" placeholder="Email ou Número de telefone" required>
                     <input type="password" placeholder="Senha" required>
                     <button>Entrar</button>

                     <div class="form-footer">
                         <input type="checkbox" id="check">
                         <label style="margin-left: 10px;" for="check"> Lembre-me</label>
                         <p><a href="#">Esqueceu sua senha?</a></p>
                     </div>
                 </div>
             </form>
             <!--end form-->
             <!--box description-->
             <div class="box-description">
                 <a href="#"> <img src= "../../assets/facebook.png"> Logar com o Facebook </a> <br>
                 <a href="#"> <img src= "../../assets/google.jpg"> Logar com o Google </a>
                 <p>Novo na Netflix? <span>Inscreva-se agora.</span></p>
                 <p>
                     Esta página é protegida pelo Google reCaptcha para garantir que você não seja um bot.
                     <a href="#">Saiba mais</a>"
                 </p>
             </div>
             <!--end box description-->
         </main>
         <!--end main-->
     </div>
     <div class="divider"></div>
</div>
